<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

<!--    <sql id="selectUserListSql">-->
<!--        SELECT id, name, age, email, avatar FROM user-->
<!--    </sql>-->
<!--    <select id="getUserList" parameterType="org.example.dto.UserDataDTO" resultType="org.example.vo.UserDataVO">-->
<!--        <include refid="selectUserListSql"/> WHERE 1=1-->
<!--        <if test="req.name != null and req.name != ''">-->
<!--            AND name = #{req.name}-->
<!--        </if>-->
<!--        <if test="req.age != 0">-->
<!--            AND age = #{req.age}-->
<!--        </if>-->
<!--        <if test="req.email != null and req.email != ''">-->
<!--            AND email = #{req.email}-->
<!--        </if>-->
<!--        <if test="req.avatar != null and req.avatar != ''">-->
<!--            AND avatar = #{req.avatar}-->
<!--        </if>-->
<!--    </select>-->

<!--    <insert id="insetUser" parameterType="org.example.entity.User">-->
<!--        INSERT INTO user (name, age, email, avatar) VALUE (#{user.name}, #{user.age}, #{user.email}, #{user.avatar})-->
<!--    </insert>-->

    <insert id="insetUsers" parameterType="org.example.entity.User">
        INSERT INTO user (name, age, email, avatar) VALUES
        <foreach collection="users" separator="," item="user">
            (#{user.name}, #{user.age}, #{user.email}, #{user.avatar})
        </foreach>
    </insert>

    <update id="updUser">
        UPDATE user SET name = #{user.name}, age = #{user.age}, email = #{user.email}, avatar = #{user.avatar} WHERE id = #{user.id}
    </update>

    <delete id="delUser" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <resultMap type="org.example.vo.UserDataVO" id="UserResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="age" column="age"/>
        <result property="avatar" column="avatar"/>
    </resultMap>
    <select id="getUserDetail" parameterType="int" resultMap="UserResult">
        SELECT * FROM user WHERE id = #{id}
    </select>

</mapper>